
<!-- About Start -->

<section id="{{ page.section-type }}" class="container content-section1 text-center">
  <div class="row">
    <div class="jumbotron">
      {{ page.content | markdownify }}
    </div>
      
        <div class="col-md-3">
            <a href="pulpitrock.jpg" class="rounded">
              <img class=img-responsive src="{{site.baseurl}}{{ site.gallery1 }}" alt="" width="200" height="200">
            </a>
        </div>

        <div class="col-md-3">
            <a href="pulpitrock.jpg" class="rounded">
              <img class=img-responsive src="{{site.baseurl}}{{ site.gallery2 }}" alt="" width="200" height="200">
            </a>
        </div>
        
        
        <div class="col-md-3">
            <a href="pulpitrock.jpg" class="rounded">
              <img class=img-responsive src="{{site.baseurl}}{{ site.gallery3 }}" alt="" width="200" height="200">
            </a>
        </div>
        
        <div class="col-md-3">
            <a href="pulpitrock.jpg" class="rounded">
              <img class=img-responsive src="{{site.baseurl}}{{ site.gallery4 }}" alt="" width="200" height="200">
            </a>
        </div>

        <div class="clearfix"></div>
        
   
  </div>
</section>

<!-- About End -->
