// Variables

// Main color
//$primary-color: #fff;
$primary-color: #EEEEEE;
$header-color: #3A3D3D;	
// Anchor color
$secondary-color: #3772FF;

// Font color
$font-color: #000;
// Link  color
$link-color: #3772FF;


//Border color
$img-color: #080708;
$line-color: #2B061E;


$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $header-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $primary-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
